<div class="title">
    <h1 mat-dialog-title>Customer Registration</h1>
  </div>
  <div mat-dialog-content>
    <ng-scrollbar style="height: 350px" visibility="hover">
    <form [formGroup]="addRouteForm" class="form" (ngSubmit)="addRoute()">
      <mat-form-field>
        <mat-label>Origin City ID</mat-label>
        <input type="number" matInput formControlName="originCityId">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Origin City</mat-label>
        <input type="text" matInput formControlName="originCity">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Destination City ID</mat-label>
        <input type="number" matInput formControlName="destinationCityId">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Destination City</mat-label>
        <input type="text" matInput formControlName="destinationCity">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type of Transport</mat-label>
        <mat-select formControlName="transportType">
          <mat-option *ngFor="let transportType of transportTypes" [value]="transportType.value">
            {{transportType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </ng-scrollbar>
  </div>
  <div mat-dialog-actions class="buttons mt-4">
    <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
    <button mat-button [disabled]="addRouteForm.invalid" [mat-dialog-close]="true" [formGroup]="addRouteForm" (click)="addRoute()">Add</button>
  </div>