<div class="container pt-4">
  <div class="demo-button-container">
    <button mat-raised-button (click)="addData()" color="accent" class="demo-button">
      Add New Route
    </button>
  </div>
  <ng-scrollbar style="height: 450px; padding: 8px" visibility="hover" class="mat-elevation-z8">
  <table mat-table [dataSource]="routes" class="mat-elevation ">
    <ng-container matColumnDef="originCity">
      <th mat-header-cell *matHeaderCellDef>Origin City</th>
      <td mat-cell *matCellDef="let element">{{element.fromCity.cityName}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="destinationCity">
      <th mat-header-cell *matHeaderCellDef>Destination City</th>
      <td mat-cell *matCellDef="let element">{{element.toCity.cityName}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="transportType">
      <th mat-header-cell *matHeaderCellDef>Transport Type Available</th>
      <td mat-cell *matCellDef="let element">{{element.transportType}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </ng-scrollbar>
</div>