<div class="title">
  <h1 mat-dialog-title class="mt-1">Add A New Route</h1>
</div>
<div mat-dialog-content>
    <form [formGroup]="addRouteForm" class="form">
      <mat-form-field>
        <mat-label>Origin City</mat-label>
        <input type="text" matInput formControlName="originCity">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Destination City</mat-label>
        <input type="text" matInput formControlName="destinationCity">
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="buttons mt-2">
  <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
  <button mat-button [disabled]="addRouteForm.invalid" [mat-dialog-close]="true" [formGroup]="addRouteForm"
    (click)="addRoute()">Add</button>
</div>