<div class="wrapper">
    <div class="container text-center">
        <mat-card class="example-card">
            <mat-card-content class="text">
                <p class="lead mt-4">Client's code is {{clientCode}}. </p>
                <p class="lead mt-4">Shipment code is {{shipmentCode}}. </p>
                <p class="lead mt-4 mb-4">Your package has arrived in {{city}}. </p>
            </mat-card-content>
            <mat-card-footer>
                <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>